<h3>The Employee Component With Reusable Select Component</h3>
<div class="container">
  <table class="table table-bordered table-striped">
     <div class="form-group">
       <label>EmpNo</label>
       <input type="text" class="form-control" [(ngModel)]="employee.EmpNo">
     </div>
     <div class="form-group">
      <label>EmpName</label>
      <input type="text" class="form-control" [(ngModel)]="employee.EmpName">
    </div>
    <div class="form-group">
      <label>DeptName</label>
      <!-- <select type="text" class="form-control" [(ngModel)]="employee.DeptName">
        <option *ngFor="let dept of departments" value="{{dept}}">{{dept}}</option>
      </select> -->
      <app-select-component [DataSource]="departments"
       [BindProperty]="employee.DeptName"
       (selectItem)="getDeptName($event)"></app-select-component>
    </div>
    <div class="form-group">
      <label>Designation</label>
      <!-- <select type="text" class="form-control" [(ngModel)]="employee.Designation">
        <option *ngFor="let desig of designations" value="{{desig}}">{{desig}}</option>
      </select> -->
      <app-select-component [DataSource]="designations"
       [BindProperty]="employee.Designation"
       (selectItem)="getDesignation($event)"></app-select-component>
    </div>
    <div class="form-group">
      <label>Salary</label>
      <input type="text" class="form-control" [(ngModel)]="employee.Salary">
      <input type="text" class="form-control" [value]="tax" disabled>
    </div>
    <div class="form-group">
      <button class="btn btn-warning" (click)="clear()">Clear</button>
      <button class="btn btn-success" (click)="save()">Save</button>
    </div>
  </table>
  <hr>
  <!--Hard-Coded Table-->
  <!-- <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>EmpNo</th>
        <th>EmpName</th>
        <th>DeptName</th>
        <th>Designation</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees" (click)="getSelectedEmployee(emp)">
        <td>{{emp.EmpNo}}</td>
        <td>{{emp.EmpName}}</td>
        <td>{{emp.DeptName}}</td>
        <td>{{emp.Designation}}</td>
        <td>{{emp.Salary}}</td>
      </tr>
    </tbody>
  </table> -->

  <input type="radio" name="r" (click)="sortArr()"> Sort By EmpName
  <input type="radio" name="r" (click)="reverseArr()"> Reverse By EmpName

  <div class="container">
     <strong>Set the Color That you want to Apply of Grid Rows TO Make it Zanky-Panky</strong>
      <br/>
     <input type="radio" name="r" (click)="passColor='red'"> Red
     <input type="radio" name="r" (click)="passColor='yellow'"> Yellow
     <input type="radio" name="r" (click)="passColor='magenta'"> Magenta
  </div>


  <h6>Using Reusable Table Component</h6>
   <app-datagrid-component
    [DataSource]="employees" [CanDelete]="true"
    (selectRow)="getRowForDelete($event)" [Color]="passColor"
   ></app-datagrid-component>
   <hr/>
   <h6>List of Departments</h6>
   <app-datagrid-component
   [DataSource]="depts"
  ></app-datagrid-component>
</div>
