<h2>Product Receiver</h2>
<div class="container">
  <strong>
    Showing Products for Category : {{product.CategoryId}}
  </strong>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Product Id</th>
      <th>Product Name</th>
      <th>Price</th>
      <th>Category Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prd of FilterProducts">
      <td>{{prd.ProductId}}</td>
      <td>{{prd.ProductName}}</td>
      <td>{{prd.Price}}</td>
      <td>{{prd.CategoryId}}</td>
    </tr>
  </tbody>
</table>
