<table class="table table-bordered table-striped">
  <thead>
    <!--Generate Headers-->
    <tr>
      <th *ngFor="let header of columnHeaders">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of DataSource" [setColor]="Color" >
      <td *ngFor="let header of columnHeaders">
        {{record[header]}}
      </td>
      <td *ngIf="CanEdit">
        <button class="bn btn-warning" (click)="onSelectRowForEdit(record)">Edit</button>
      </td>
      <td *ngIf="CanDelete">
        <button class="bn btn-danger" (click)="onSelectRow(record)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
