<h2>The Simple Component</h2>
<div>
  <!--Expression Binding aka Template Binding-->
  <strong>{{message}}</strong>
  <br/>
  <strong>{{10+20}}</strong>
</div>
<br/>
<!--Property Binding-->
<input type="text" [value]="message">
<br/>
<a [href]="url">Mahesh Sabnis's Blog</a>
<br/>
<!--The Event Binding-->
<input type="button" value="Click Me" (click)="display()">
<hr/>

<div>
  Name : <input type="text" [(ngModel)]="name">
  <br/>
  Name : <input type="text" [(ngModel)]="name">
  <br/>
  Name : <input type="text" [(ngModel)]="name">
  <br/>
</div>
<br/>
<div>
  <strong>
    Selected Character: {{selectedCharacter}}
  </strong>
  <br/>
  Select Character From Here <br/>
  <select [(ngModel)]="selectedCharacter">
    <!--Iterate over the characters array to generate option-->
     <option *ngFor="let c of characters" value="{{c}}">{{c}}</option>
  </select>
</div>
<hr/>
<div>
  <strong>
    Selected Items = {{selectedItem}}
  </strong>
  <br/>
  Select Item <br/>
  <select [(ngModel)]="selectedItem">
    <option *ngFor="let item of items" value="{{item.id}}">{{item.name}}</option>
  </select>
  <!--Same Name for Radio Button will create a Group and then only one can be selected-->
  <input type="radio" name="r" id=""> One
  <input type="radio" name="r" id=""> Two
</div>
