<h4>Create New Department</h4>
<div class="container">
  <div class="form-control">
    <label for="">DeptNo</label>
    <input type="text" class="form-control" [(ngModel)]="dept.DeptNo">
  </div>
  <div class="form-control">
    <label for="">DeptName</label>
    <input type="text" class="form-control" [(ngModel)]="dept.DeptName">
  </div>
  <div class="form-control">
    <label for="">Location</label>
    <input type="text" class="form-control" [(ngModel)]="dept.Location">
  </div>
  <div class="form-control">
    <label for="">Capacity</label>
    <input type="text" class="form-control" [(ngModel)]="dept.Capacity">
  </div>
  <div class="form-control">
    <input type="button" value="Clear" class="btn btn-primary"
     (click)="clear()">
    <input type="button" value="Save" class="btn btn-success"
     (click)="save()">

  </div>
</div>
<hr/>
<a [routerLink]="['']">Back to List</a>
<br/>
<!--Loading of the Child Route-->
<a [routerLink]="['empreact']">Employee</a>
<router-outlet></router-outlet>

